<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
    <!-- estilos CSS -->
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>
  <%- include('./partials/header.ejs')  %> 

  <main>
    <section class="section-detalle-cancion">
      <article class="article-artista flex-box-r">
        <div>
          <img class="img-artista" src="/images/portada.jpg" alt="Soda Estereo">
        </div>

        <div>
          <h2><span class="clave">Titulo:</span> <%= movie.title %></h2>
          <h2><span class="clave">Clasificación:</span> <%= movie.rating %></h2></a>
          <h2><span class="clave">Premios:</span> <%= movie.awards %></h2>
          <h2><span class="clave">Estreno:</span> <%= movie.release_date %></h2>
          <h2><span class="clave">Duración:</span> <%= movie.length %></h2>
          
        </div>
        
        

      </article>
    </section>
  </main>


</body>
</html>